<h1><a href="/">夏日減重大作戰</a></h1>
<div class="block" id="block-edit">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>
  <div class="content login">
    <div class="flash">
      <% flash.each do |type, message| -%>
      <div class="message <%= type %>">
        <p><%= message %></p>
      </div>
      <% end -%>
    </div>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class=>"form" }) do |f| %>
    <%= devise_error_messages! %>
    <div class="group">
      <p>  <%= f.label :email, :html=>{:class=>"label"} %><br/>
        <%= f.email_field :email, :html=>{:class=>"text_field"} %>
      </div>
      <div class="group">
        <p><%= f.label :password, :html=>{:class=>"label"} %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, :html=>{:class=>"text_field"} %></p>
        </div>
        <div class="group">
          <p><%= f.label :password_confirmation, :html=>{:class=>"label"} %><br />
            <%= f.password_field :password_confirmation, :html=>{:class=>"text_field"} %></p>
          </div>
          <div class="group">
            <p><%= f.label :current_password, :html=>{:class=>"label"} %> <i>(we need your current password to confirm your changes)</i><br />
              <%= f.password_field :current_password, :html=>{:class=>"text_field"} %></p>
            </div>

            <p><%= f.submit "Update" %></p>
            <% end %>

            <h3>Cancel my account</h3>

            <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

            <%= link_to "Back", :back %>
          </div>
        </div>